@import "reset.css";
@import "fonts.css";

body {
  font-family: "Iosevka Web", monospace;
  font-size: 18px;

  --purple: #672378;
  --gray: #666666;
  --lightgray: #eeeeee;
}

a {
  color: var(--purple);
}

.content {
  max-width: 1000px;
  margin: auto;
  padding: 1rem 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  line-height: 1;
  padding: 1rem 0;
}

p:empty {
  display: none;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 300%;
  }
}
