@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 100%;

  @media only screen and (max-width: 768px) {
    font-size: 85%;
  }

  @media only screen and (max-width: 640px) {
    font-size: 70%;
  }
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  background: #1b122c;
  color: #ffffff;
  --header-opacity: 0;

  @media only screen and (max-width: 640px) {
    scroll-padding-top: 80px;
  }
}

.transition-shadow {
  transition: text-shadow 0.15s ease-in-out;
}

.transition-padding {
  transition: padding 0.15s ease-in-out;
}

.intro-text {
  font-size: clamp(4.2rem, 6.02vw + 2.5rem, 6rem);
  line-height: 1;
}
